In [209]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [210]:
# Loading the raw dataset 

raw_df=pd.read_excel("Details of State Governments Market Borrowings - Copy.xlsx")
raw_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,Details of State Governments Market Borrowings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,(Rupees Crores),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Date of,NaN,NaN,Notified Amount(Rupees Crores),Maturity,NaN,Bids Received,NaN,NaN,...,NaN,NaN,Devolvement on Primary Dealers (Rupees Crores),Devolvement/Private placement on RBI (Rupees C...,Cut off Issue/Price,Cut Off Yield,Nomenclature Loan,ISIN No.,Weighted Avg. Price,Weighted Avg. Yield

In [211]:
# Loading the dataset while removing the first 4-5 empty or meaning-less rows and the first empty column

df=pd.read_excel("Details of State Governments Market Borrowings - Copy.xlsx",skiprows=5, usecols=lambda col: col != df.columns[0])
df.head()

,Date of,Unnamed: 2,Unnamed: 3,Notified Amount(Rupees Crores),Maturity,Unnamed: 6,Bids Received,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 13,Unnamed: 14,Devolvement on Primary Dealers (Rupees Crores),Devolvement/Private placement on RBI (Rupees Crores),Cut off Issue/Price,Cut Off Yield,Nomenclature Loan,ISIN No.,Weighted Avg. Price,Weighted Avg. Yield
0,Auction,Issue,Maturity,NaN,NaN,NaN,Competitive,NaN,Non-Competitive,NaN,...,Non-Competitive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Residual Period,Year,Number,Value (Rupees Crores),Number,Value (Rupees Crores),...,Number,Value (Rupees Crores),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2,3,4.0,5,6,7,8,9,10,...,13,14,15,16,17.0,18.00,19,20,21,22
3,2025-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-12-30 00:00:00,2025-12-31 00:00:00,2029-12-31 00:00:00,1500.0,4,2029-12-31 00:00:00,42,6440,5,20.598,...,5,20.598,-,-,100.0,6.86,6.86% TAMILNADU SGS 2029,IN3120250557,100.15,6.8156

In [212]:
df.columns

Index(['Date of', 'Unnamed: 2', 'Unnamed: 3', 'Notified Amount(Rupees Crores)',
       'Maturity', 'Unnamed: 6', 'Bids Received', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Bids Accepted', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Devolvement on Primary Dealers (Rupees Crores)',
       'Devolvement/Private placement on RBI (Rupees Crores)',
       'Cut off Issue/Price', 'Cut Off Yield', 'Nomenclature Loan', 'ISIN No.',
       'Weighted Avg. Price', 'Weighted Avg. Yield'],
      dtype='object')

In [213]:
# Renaming the columns

df = df.rename(columns={
    'Date of': 'auction_date',
    'Unnamed: 2': 'issue_date',
    'Unnamed: 3': 'maturity_date',
    'Maturity':'maturity_residual_period',
    'Unnamed: 6':'maturity_years',
    'Bids Received':'BR_comp_number',
    'Unnamed: 8':'BR_comp_value',
    'Unnamed: 9':'BR_non-comp_number',
    'Unnamed: 10':'BR_non-comp_value',
    'Bids Accepted':'BA_comp_number',
    'Unnamed: 12':'BA_comp_value',
    'Unnamed: 13':'BA_non-comp_number',
    'Unnamed: 14':'BA_non-comp_value',
    'Name of the State': 'state',
    'Notified Amount(Rupees Crores)': 'notified_amount',
    'Amount Raised (₹ Crore)': 'amount_raised',
    'Weighted Avg. Yield': 'avg_yield'
})
df.columns

Index(['auction_date', 'issue_date', 'maturity_date', 'notified_amount',
       'maturity_residual_period', 'maturity_years', 'BR_comp_number',
       'BR_comp_value', 'BR_non-comp_number', 'BR_non-comp_value',
       'BA_comp_number', 'BA_comp_value', 'BA_non-comp_number',
       'BA_non-comp_value', 'Devolvement on Primary Dealers (Rupees Crores)',
       'Devolvement/Private placement on RBI (Rupees Crores)',
       'Cut off Issue/Price', 'Cut Off Yield', 'Nomenclature Loan', 'ISIN No.',
       'Weighted Avg. Price', 'avg_yield'],
      dtype='object')

In [214]:
df.head()

,auction_date,issue_date,maturity_date,notified_amount,maturity_residual_period,maturity_years,BR_comp_number,BR_comp_value,BR_non-comp_number,BR_non-comp_value,...,BA_non-comp_number,BA_non-comp_value,Devolvement on Primary Dealers (Rupees Crores),Devolvement/Private placement on RBI (Rupees Crores),Cut off Issue/Price,Cut Off Yield,Nomenclature Loan,ISIN No.,Weighted Avg. Price,avg_yield
0,Auction,Issue,Maturity,NaN,NaN,NaN,Competitive,NaN,Non-Competitive,NaN,...,Non-Competitive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Residual Period,Year,Number,Value (Rupees Crores),Number,Value (Rupees Crores),...,Number,Value (Rupees Crores),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2,3,4.0,5,6,7,8,9,10,...,13,14,15,16,17.0,18.00,19,20,21,22
3,2025-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-12-30 00:00:00,2025-12-31 00:00:00,2029-12-31 00:00:00,1500.0,4,2029-12-31 00:00:00,42,6440,5,20.598,...,5,20.598,-,-,100.0,6.86,6.86% TAMILNADU SGS 2029,IN3120250557,100.15,6.8156

In [215]:
df = df.drop(df.index[:4])

In [216]:
# Dropping the empty columns
df = df.drop(columns=["Devolvement on Primary Dealers (Rupees Crores)", "Devolvement/Private placement on RBI (Rupees Crores)"])

In [217]:
# Dropping the rows where auction date is not present

df = df.dropna(subset=['auction_date'])

In [218]:
df.head()

,auction_date,issue_date,maturity_date,notified_amount,maturity_residual_period,maturity_years,BR_comp_number,BR_comp_value,BR_non-comp_number,BR_non-comp_value,BA_comp_number,BA_comp_value,BA_non-comp_number,BA_non-comp_value,Cut off Issue/Price,Cut Off Yield,Nomenclature Loan,ISIN No.,Weighted Avg. Price,avg_yield
4,2025-12-30 00:00:00,2025-12-31 00:00:00,2029-12-31 00:00:00,1500.0,4,2029-12-31 00:00:00,42,6440,5,20.598,22,1479.402,5,20.598,100.00,6.8600,6.86% TAMILNADU SGS 2029,IN3120250557,100.15,6.8156
5,2025-12-30 00:00:00,2025-12-31 00:00:00,2029-12-31 00:00:00,1000.0,4,2029-12-31 00:00:00,30,3210,6,19.53,15,980.47,6,19.53,100.00,6.9000,6.9% RAJASTHAN SGS 2029,IN2920250353,100.28,6.8191
6,2025-12-30 00:00:00,2025-12-31 00:00:00,2030-12-31 00:00:00,1200.0,5,2030-12-31 00:00:00,63,9420,4,12.542,6,1187.458,4,12.542,100.00,7.0200,7.02% MADHYAPRADESH SGS 2030,IN2120250286,100.01,7.0171
7,2025-12-30 00:00:00,2025-12-31 00:00:00,2031-08-28 00:00:00,1000.0,5.661,2031-08-28 00:00:00,35,5115,2,0.025,9,999.975,2,0.025,99.34,7.1322,7.0% TAMILNADU SGS 2031,IN3120250235,99.39,7.1213
8,2025-12-30 00:00:00,2025-12-31 00:00:00,2031-12-31 00:00:00,1000.0,6,2031-12-31 00:00:00,43,3590,3,10.02,24,989.98,3,10.02,100.00,7.2400,7.24% RAJASTHAN SGS 2031,IN2920250361,100.3,7.1786

In [219]:
Dates_cols=[
    'auction_date',
    'issue_date',
    'maturity_date',
    'maturity_years'
]

for dates in Dates_cols:
    df[dates]=pd.to_datetime(df[dates], errors='coerce')
# df['auction_date'] = pd.to_datetime(df['auction_date'], errors='coerce')

numeric_cols = [
    'notified_amount',
    'avg_yield',
]

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')
df.head()

,auction_date,issue_date,maturity_date,notified_amount,maturity_residual_period,maturity_years,BR_comp_number,BR_comp_value,BR_non-comp_number,BR_non-comp_value,BA_comp_number,BA_comp_value,BA_non-comp_number,BA_non-comp_value,Cut off Issue/Price,Cut Off Yield,Nomenclature Loan,ISIN No.,Weighted Avg. Price,avg_yield
4,2025-12-30,2025-12-31,2029-12-31,1500.0,4,2029-12-31,42,6440,5,20.598,22,1479.402,5,20.598,100.00,6.8600,6.86% TAMILNADU SGS 2029,IN3120250557,100.15,6.8156
5,2025-12-30,2025-12-31,2029-12-31,1000.0,4,2029-12-31,30,3210,6,19.53,15,980.47,6,19.53,100.00,6.9000,6.9% RAJASTHAN SGS 2029,IN2920250353,100.28,6.8191
6,2025-12-30,2025-12-31,2030-12-31,1200.0,5,2030-12-31,63,9420,4,12.542,6,1187.458,4,12.542,100.00,7.0200,7.02% MADHYAPRADESH SGS 2030,IN2120250286,100.01,7.0171
7,2025-12-30,2025-12-31,2031-08-28,1000.0,5.661,2031-08-28,35,5115,2,0.025,9,999.975,2,0.025,99.34,7.1322,7.0% TAMILNADU SGS 2031,IN3120250235,99.39,7.1213
8,2025-12-30,2025-12-31,2031-12-31,1000.0,6,2031-12-31,43,3590,3,10.02,24,989.98,3,10.02,100.00,7.2400,7.24% RAJASTHAN SGS 2031,IN2920250361,100.3,7.1786

In [220]:
df['coupon_rate'] = (
    df['Nomenclature Loan']
    .str.extract(r'(\d+\.?\d*)%')
    .astype(float)
)
df['state'] = (
    df['Nomenclature Loan']
    .str.extract(r'%\s([A-Z]+)')
)
state_map = {
    'MADHYAPRADESH': 'MADHYA PRADESH',
    'TAMILNADU': 'TAMIL NADU',
    'UTTARAKHAND': 'UTTARAKHAND',
    'ANDHRA': 'ANDHRA PRADESH'
}

df['state'] = df['state'].replace(state_map)

df['instrument'] = (
    df['Nomenclature Loan']
    .str.extract(r'\b(SGS)\b')
)

In [221]:
df = df.drop_duplicates()

In [ ]:
df['year'] = df['auction_date'].dt.year
df['quarter'] = df['auction_date'].dt.to_period('Q')
df = df.drop(columns=['maturity_years'])
df.head()

,issue_date,maturity_date,notified_amount,maturity_residual_period,maturity_years,BR_comp_number,BR_comp_value,BR_non-comp_number,BR_non-comp_value,BA_comp_number,...,Cut Off Yield,Nomenclature Loan,ISIN No.,Weighted Avg. Price,avg_yield,coupon_rate,state,instrument,year,quarter
4,2025-12-31,2029-12-31,1500.0,4,2029-12-31,42,6440,5,20.598,22,...,6.8600,6.86% TAMILNADU SGS 2029,IN3120250557,100.15,6.8156,6.86,TAMIL NADU,SGS,2025.0,2025Q4
5,2025-12-31,2029-12-31,1000.0,4,2029-12-31,30,3210,6,19.53,15,...,6.9000,6.9% RAJASTHAN SGS 2029,IN2920250353,100.28,6.8191,6.90,RAJASTHAN,SGS,2025.0,2025Q4
6,2025-12-31,2030-12-31,1200.0,5,2030-12-31,63,9420,4,12.542,6,...,7.0200,7.02% MADHYAPRADESH SGS 2030,IN2120250286,100.01,7.0171,7.02,MADHYA PRADESH,SGS,2025.0,2025Q4
7,2025-12-31,2031-08-28,1000.0,5.661,2031-08-28,35,5115,2,0.025,9,...,7.1322,7.0% TAMILNADU SGS 2031,IN3120250235,99.39,7.1213,7.00,TAMIL NADU,SGS,2025.0,2025Q4
8,2025-12-31,2031-12-31,1000.0,6,2031-12-31,43,3590,3,10.02,24,...,7.2400,7.24% RAJASTHAN SGS 2031,IN2920250361,100.3,7.1786,7.24,RAJASTHAN,SGS,2025.0,2025Q4

In [223]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7989 entries, 4 to 8004
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   issue_date                7981 non-null   datetime64[ns]
 1   maturity_date             7981 non-null   datetime64[ns]
 2   notified_amount           7981 non-null   float64
 3   maturity_residual_period  7981 non-null   object
 4   maturity_years            7981 non-null   datetime64[ns]
 5   BR_comp_number            7981 non-null   object
 6   BR_comp_value             7981 non-null   object
 7   BR_non-comp_number        7981 non-null   object
 8   BR_non-comp_value         7981 non-null   object
 9   BA_comp_number            7981 non-null   object
 10  BA_comp_value             7981 non-null   object
 11  BA_non-comp_number        7981 non-null   object
 12  BA_non-comp_value         7981 non-null   object
 13  Cut off Issue/Price       7981 non-null   float64
 14  Cut Off Yield             7981 non-null   float64
 15  Nomenclature Loan         7981 non-null   object
 16  ISIN No.                  7981 non-null   object
 17  Weighted Avg. Price       7981 non-null   object
 18  avg_yield                 7615 non-null   float64
 19  coupon_rate               7002 non-null   float64
 20  state                     7002 non-null   object
 21  instrument                2645 non-null   object
 22  year                      7988 non-null   float64
 23  quarter                   7988 non-null   period[Q-DEC]
dtypes: datetime64[ns](3), float64(6), object(14), period[Q-DEC](1)
memory usage: 1.5+ MB

In [224]:
df.describe()

,issue_date,maturity_date,notified_amount,maturity_years,Cut off Issue/Price,Cut Off Yield,avg_yield,coupon_rate,year
count,7981,7981,7981.000000,7981,7981.000000,7981.000000,7615.000000,7002.000000,7988.000000
mean,2019-08-05 11:40:47.061771776,2031-06-16 21:38:32.642525952,1059.084187,2031-06-16 21:38:32.642525952,99.980457,7.606211,7.568762,7.498239,2019.079494
min,2006-01-20 00:00:00,2016-01-20 00:00:00,2.950000,2016-01-20 00:00:00,91.060000,4.150000,4.072700,4.150000,2005.000000
25%,2016-08-09 00:00:00,2025-07-15 00:00:00,500.000000,2025-07-15 00:00:00,100.000000,7.137900,7.115950,7.100000,2016.000000
50%,2020-08-12 00:00:00,2030-06-03 00:00:00,1000.000000,2030-06-03 00:00:00,100.000000,7.480000,7.448400,7.410000,2020.000000
75%,2023-09-22 00:00:00,2035-12-03 00:00:00,1500.000000,2035-12-03 00:00:00,100.000000,8.120000,8.065600,7.830000,2023.000000
max,2025-12-31 00:00:00,2064-03-20 00:00:00,5500.000000,2064-03-20 00:00:00,111.540000,9.940000,9.903300,9.940000,2025.000000
std,NaN,NaN,726.643993,NaN,0.732287,0.765290,0.763122,0.733134,4.913787

In [225]:
df.to_csv("clean_state_market_borrowings.csv", index=False)